[
    {
        "database": "Nintendo - Wii U",
        "roms": "/home/user/Games/Emus/Cemu/Roms",
        "extensions": ["rpx"]
    },
    {
        "database": "Nintendo - 64",
        "roms": "/home/user/Games/Emus/N64/roms",
        "extensions": ["n64"]
    },
    {
        "database": "PC",
        "extensions": ["lutris"]
    },
    {
        "database": "PC",
        "roms": "/home/user/Games/Heroic/HeroicBashLauncher/GameFiles",
        "extensions": ["heroic"]
    }
]