[
    {
        "database": "Nintendo - Wii U",
        "roms": "/home/user/games/wiiu",
        "extensions": "rpx"
    },
    {
        "database": "Nintendo - 64",
        "roms": "/home/user/games/n64",
        "extensions": "n64"
    }
]